@import "https://fonts.googleapis.com/css?family=Open+Sans:300,600";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 1em; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

header {
  width: 100%;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  background: #2F2235;
  color: #ffffff; }
  header .logo {
    text-transform: uppercase; }
    header .logo strong {
      color: #34D1D1; }
  header .name {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1rem; }

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 4rem; }
  section .section-header {
    display: flex; }
  section .section-bar {
    margin-bottom: 2rem;
    width: 100%;
    background: url("dot.gif");
    background-position: center;
    background-size: auto;
    background-repeat: repeat-x; }
  section h2 {
    padding-right: 2rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25rem;
    border: 0;
    color: #666666;
    background: #ffffff; }

article {
  margin: 2rem; }
  article .accordion {
    display: flex;
    flex-wrap: wrap; }
  article label {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
    background: #F2F2F2;
    border: 1px solid #ffffff;
    margin-bottom: -1px; }
    article label:hover {
      cursor: pointer; }
    article label .plus {
      display: none; }
  article label + .tab-content {
    order: 10;
    width: 100%;
    background: #ffffff;
    border: 1px solid #D1D2D3;
    display: none;
    padding: 1.5rem;
    color: #000000; }
    article label + .tab-content img {
      width: 15rem;
      height: 21rem;
      margin-right: 2rem;
      display: inline; }
    article label + .tab-content .tab-content-text {
      display: inline;
      line-height: 1.5rem; }
      article label + .tab-content .tab-content-text h3 {
        font-weight: 600;
        font-size: 1.25rem;
        padding: 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid #D1D2D3; }
  article input[type="radio"] {
    display: none; }
  article input[type="radio"]:checked + label {
    background: #ffffff;
    border: 1px solid #D1D2D3;
    border-bottom: 1px solid #ffffff;
    font-weight: 600;
    z-index: 1; }
  article input[type="radio"] + label .plus::after {
    content: "+"; }
  article input[type="radio"]:checked + label + .tab-content {
    display: flex; }

a {
  background: #2F2235;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  margin: 1rem auto;
  width: 20rem;
  border-radius: 0;
  padding: .75rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

.flex-cards {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  grid-auto-flow: row;
  grid-gap: 1rem; }
  .flex-cards .one-col, .flex-cards .two-col {
    border: 1px solid #666666;
    background: #D1D2D3; }
  .flex-cards .one-col {
    grid-column: span 1; }
    .flex-cards .one-col h3 {
      max-width: 25vw; }
  .flex-cards .two-col {
    grid-column: span 2; }
    .flex-cards .two-col h3 {
      max-width: auto; }
  .flex-cards h3 {
    background: #ffffff;
    padding: 1rem;
    border-bottom: 1px solid #666666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .flex-cards .card-content {
    min-height: 10rem; }

@media (max-width: 750px) {
  html {
    font-size: .8rem; }

  header {
    flex-direction: column;
    align-items: center;
    background: #2F2235;
    color: #ffffff; }
    header .logo {
      text-transform: uppercase;
      padding-bottom: 2rem; }
      header .logo strong {
        color: #34D1D1; }
    header .name {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1rem; }

  section .section-header {
    flex-direction: column;
    margin-bottom: 4rem; }
  section .section-bar {
    width: 20%;
    margin: auto; }
  section h2 {
    padding-right: 0;
    text-align: center; }

  article {
    margin: 0; }
    article .accordion {
      flex-direction: column;
      border: 1px solid #D1D2D3; }
    article label {
      justify-content: space-between;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      margin-bottom: 0; }
      article label .plus {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 300; }
      article label:last-of-type {
        border-bottom: none; }
    article label + .tab-content {
      order: initial;
      padding: 0;
      flex-direction: column;
      border: none; }
      article label + .tab-content img {
        width: 100%;
        height: 13rem;
        margin: 0; }
      article label + .tab-content .tab-content-text {
        padding: 1rem; }
    article input[type="radio"]:checked + label {
      background: #ffffff;
      border: 0;
      border-bottom: 1px solid #ffffff;
      font-weight: 600; }
    article input[type="radio"]:checked + label .plus::after {
      content: "-"; }

  a {
    margin-top: 2rem;
    padding: 1.5rem;
    width: 100%; }

  .flex-cards {
    display: flex;
    flex-direction: column; }
    .flex-cards .one-col, .flex-cards .two-col {
      margin: 1rem; }
      .flex-cards .one-col h3, .flex-cards .two-col h3 {
        max-width: 100%; }
    .flex-cards .card-content {
      min-height: 15rem; } }

/*# sourceMappingURL=styles.css.map */
